
main{

max-width: 800px; /*responsive to screen size*/
height: 550px;
margin-top:50px;
padding: 1rem;
background: #F5F5F5;
border-radius: 10px;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin-inline: auto; /*responsive to screen size*/
}

.dieGroup{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
}

.die{
    height: 70px;
    width:70px;
    border-radius: 10px;
    border:2px solid #483D8B;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
     justify-content: center; /*vertically centered*/
     align-items: center;/*horizontally  centered*/
     cursor: pointer;
     font-size: 2rem;
     font-weight:700;
     font:#0B2434;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.die-isHeld{
    height: 70px;
    width:70px;
    border-radius: 10px;
    border:2px solid #483D8B;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
     justify-content: center; /*vertically centered*/
     align-items: center;/*horizontally  centered*/
     cursor: pointer;
     font-size: 2rem;
     font-weight:700;
     font:#0B2434;
     color:white;
    background-color: 	#9932CC;
    font-family: 'Josefin Sans', sans-serif;
}
.dieIcon{
    height: 80px;
    width:80px;
    
}
.button{
    background-color:#483D8B;
    color: white;
    padding:15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
}
  
  .button:active {
       transform: translateY(3px)
  }